/*css*/

html, body {
	background: #242321 url(../images/bg-1.gif) 0 0 repeat;
	font: 12px/17px Trebuchet MS, sans-serif;
	color: #6e6c6b;
	min-width:300px;
}
* { -webkit-text-size-adjust: none;}

a { color: inherit; text-decoration: none;}
a:hover { text-decoration: none;}
a[href^="tel:"] {color: inherit;text-decoration:none;}
.a-hov { transition: all 0.4s ease;}
.a-hov:hover { color: #e02a00;}

.bg-1 { background: url(../images/bg-5.gif) 0 0 repeat; padding-bottom: 39px;}
.bord-1 { background: url(../images/bord-1.gif) 0 0 repeat-x; padding-top: 14px;}
.bord-2 { background: url(../images/bord-2.gif) 0 0 repeat-x; padding-top: 14px;}
.bord-3 { border-bottom:1px solid #373332; padding-bottom: 45px; margin-bottom: 8px;}
.bord-3.v1 { padding-bottom: 39px;}

h1, h2, h3, h4, h5, h6 { font-family: 'Asap', sans-serif; color: #ffffff; font-weight: normal;}
h1 { font-size: 65px; line-height: 1.5em; color: #ffffff; letter-spacing: -2px; width: 300px; border-top: 7px solid #ffffff; padding-top: 21px;}
h1 span { font-size: 14px; line-height: 16px; color: #8e8a88; display: block; letter-spacing: 0px; margin: -5px 0 0 12px;}
h2 { font-size: 30px; line-height: 30px; padding-bottom: 23px; padding-top: 30px;}
h3 { font-family: 'Droid Sans', sans-serif; font-size: 11px; line-height: 17px; color: #adaca9; text-transform: uppercase; padding-top: 23px; /* letter-spacing: -1px; */ padding-bottom: 5px;}
h4 { color: #adaca9; text-transform: uppercase; font-family: 'Droid Sans', sans-serif; font-size: 11px; line-height: 16px; padding-top: 7px;  padding-bottom: 5px;}

h2 + h3 { padding-top: 0;}
img + h3 { padding-top: 21px;}
h2.v1 { padding-top: 46px;}
h2 + h4 {padding-top: 1px;}

.text-1 {font-family: 'Droid Sans', sans-serif;}

.color-1 { color: #e02a00;}

/*header*/

.top-header {
	display: flex;
	justify-content: space-around;
}

nav { 
	position:relative; 
	z-index: 11;
	text-align: center;
	margin-top: 0px;
	float: right;
}

.navbar {display: inline-block; height: 85px; }
.navbar > li > span {display: block; position: relative;}
.navbar ul {position:absolute; top:-999px; display:none;/* left offset of submenus need to match (see below) */}
.navbar li { padding-left:0px; position:relative; background: none;}
	.navbar a {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
	}
		.navbar a:hover {text-decoration: none;}
		.navbar li:hover span {color:#1b1b1b;}

/*================================>> 1 Level <<========================================*/

li.sfHover {position: relative;}
.navbar > li > a {
position: relative;
	display:block;
	padding: 37px 0px 33px;
	width: 123px;
	margin-left: 1px;
	text-align: center;
	background: #555251 url(../images/bg-3.gif) 0 0 repeat;
	-moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 100;
	color: #fff;
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 14px;
}
.navbar > li:first-child > a {	border-left: 0px;}
.navbar > li {
	display: block;
	position: relative;
	float: left;
}

	.navbar > li.current > a,
	.navbar > li:hover > a,
	.navbar > li.sfHover > a {
		background: #353231 url(../images/bg-3-hov.gif) 0 0 repeat-x;
		padding-top: 62px;
		padding-bottom: 39px;
		margin-top: 0;
		-moz-transition: all 0.3s ease-out;
	    -o-transition: all 0.3s ease-out;
	    -webkit-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

.navbar li span {
	position: absolute;
}

.navbar > li > a > .sf-sub-indicator {
	display: block;
	height: 0px;
	width: 0px;
	border: 6px solid;
	border-color: #fff transparent transparent transparent;
	left: 50%;
	margin-left: -6px;	
	top: 63px;
	-moz-transition: top 0.3s ease-out;
    -o-transition: top 0.3s ease-out;
    -webkit-transition: top 0.3s ease-out;
	text-indent: -1000px;
	overflow: hidden;
}
.navbar > li.current > a > .sf-sub-indicator,
.navbar > li:hover > a > .sf-sub-indicator,
.navbar > li.sfHover > a > .sf-sub-indicator {
	top: 85px;
}
.navbar > li:hover > a > .sf-sub-indicator,
.navbar > li.sfHover > a > .sf-sub-indicator { 
	border-color: #e02a00 transparent transparent transparent;
}


/*carrousel*/

#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 470px;
	max-height: 1100px;
	position: relative;
}

#banner .tagline {
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 600;
	font-size: 50px;
	line-height: 66px;
	width: 70%;
	color: white;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	z-index: 2 ;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
}

.banner-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	object-fit: cover;
	object-position: center;
}

/* Arrow */
#banner .arrow {
	position: absolute;
	z-index: 2;
}

#banner .arrow_left {
	left: 10px;
}

#banner .arrow_right {
	right: 10px;
}

/* dots */
.dots {
	position: absolute;
	bottom: 40px;
	display: flex;
	z-index: 2;
}

.dot {
	margin-inline: 5px;
	width: 18px;
	height: 3px;
	background-color: #ffffff00;
	border: 3px solid #fff;
	border-radius: 100%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	;
}

/*article*/

.content-description {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 40px 20px;
}

.article {
	display: flex;
	width: 150px;
	justify-content: center;
	margin: 0 30px;
}

.article .article-logo {
	margin-top: 40px;
}

.article .article-content {
	text-align: center;
}

.content-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 40px 20px;
}

.content-info .info-owner, .diplome {
	text-align: center;
	margin: 0 20%;
}

.services {
	text-align: center;
}

.grid-services {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.service-article {
	width: 250px;
	margin: 30px;
}

.service-article h4 {
	font-weight: 800;
	font-size: 14px;
	text-decoration: underline;
}

.content-real {
	text-align: center;
	margin: 0 10%;
}

.content-real h3 {
	font-size: 18px;
	text-decoration: underline;
}

.content-real img {
	width: 70%;
	height: 70%;
}


.content-real article {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content-real article div {
	width: 300px;
}

.img-serv img {
	width: 50%;
}

.content-localisation {
	text-align: center;
}

.localisation-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.localisation-info .map iframe{
	width: 600px;
	height: 400px;
	margin: 0 50px 30px 50px;
}

.localisation-info h3 {
	font-size: 20px;
	font-weight: 800;
}

.localisation-info .owner-info p {
	margin: 0;
	padding: 5px;
}

.dot_selected {
	background-color: #fff;
}

/*auxiliary*/

.img-ind {float: left; margin-right: 19px; margin-top: 4px; margin-bottom: 10px;}
.img-ind img { width: 60%;}
.img-logo img {width: 50%; margin: 0px; padding: 0px;}
.img-diplome img {width: 75%;}
.wrapper {width: 100%; position: relative;}
.extra-wrap {overflow:hidden;}
.grid_inside { margin: 0 -10px;}
.aligncenter {text-align: center !important;}
.alignleft { text-align: left !important; }
.it {font-style:italic; display: inline-block;}
.fleft {float: left;}
.fright {float: right;}
.h-underline:hover { text-decoration: underline;}
.underline {text-decoration: underline;}
.upp {text-transform: uppercase;}
.transition {transition: all 0.4s ease;}
.center {display: flex; justify-content: center;}

.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after {display: table; content: "";line-height: 0;}
.clearfix:after { clear: both;}


.img-ind + div > h3, .img-ind + div > h4, .dropcap + div > h4 { padding-top: 0px;}

p { padding-bottom: 18px;}
p + h4 { padding-top: 0px;}

/************Header************/
header { background: url(../images/bg-2.gif) 0 0 repeat; padding-bottom: 30px;}
h1 { float: left;}

/************Content***********/

.content { background: #1c1b1a; padding-bottom: 53px;}

.box-1 { padding-top: 46px;}
.box-1 h2 { padding-top: 0;}

.block-1 { margin-top: -26px; margin-bottom: 4px;}
.block-1 > div { margin-top: 26px;}

/************Footer************/

.footer {
	margin: 30px 30px;
	display: flex;
	align-items: center;
}

.foot-logo { 
	display: inline; 
	font-family: 'Asap', sans-serif; 
	font-size: 30px; 
	line-height: 32px; 
	color: #fff;
}
.foot-logo + span { margin-top: 15px; margin-left: 5px; display: inline-block;}



/*toTop*/

#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	cursor:pointer;
	overflow:hidden;
	width: 63px;
	height: 63px;
	border:none;
	text-indent:-999px;
	z-index:20;
	background: url(../images/ui.totop.gif) 0 0 no-repeat;
	margin-right: -670px !important;
	right: 50%;
	bottom: 20px;
	transition:all .2s ease;
}

	#toTop:hover {
		background: url(../images/ui.totop-hov.gif) 0 0 no-repeat;
	}

	#toTop:active, #toTop:focus {outline:none;}



/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 900px) {
	.top-header {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}

	.top-header h1 {
		margin: 40px auto;
	}
}
